<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Contact Saver</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="shortcut icon"
      href="/static/images/icon.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="phone mockup andriod">
      <div class="speaker header"></div>
      <div class="camera c_hole dot"></div>
      <div class="body screen bk-ground">
        {% if messages %} {% for message in messages%}
        <div class="alert alert-{{message.tags}} text-success">{{message}}</div>
        {% endfor %} {% endif %}
        <form method="post" name="c_form" id="login_form">
          {% csrf_token %}
          <label for="{{ form.username.id_for_label }}">Username</label>
          {{ form.username }}

          <label for="{{ form.password.id_for_label }}">Password</label>
          {{ form.password }}
          <label>
            <input type="checkbox" name="" id="check" onclick="passWord()" />
            show password
          </label>
          <br />
          <br />
          <button type="submit" class="bTn">Login</button>
          <p class="sign">
            Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
          </p>
          <p class="sign">
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
          </p>
        </form>
        <div class="reserved">deon &copy; 2022</div>
      </div>
      <div class="button volume"></div>
    </div>
    <script src="{% static 'js/password.js'%}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
