<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
</head>
<body>
    <div class="phone mockup andriod">
        <div class="speaker header"></div>
        <div class="camera c_hole dot"></div>
        <div class="body screen bk-ground">    
            <form action="" method="post" name="c_form" class="register" >
                {%csrf_token%}
                {{form.username.label}}:
                {{form.username}}
                {{form.email.label}}:
                {{form.email}}
                {{form.password1.label}}:
                {{form.password1}}
                {{form.password2.label}}:
                {{form.password2}}
                <button class="bTn">submit</button>
                {{form.errors}}
                <p class="sign">Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
            </form>
            <div>deon &copy; 2022</div>
        </div>    
           
           
    
        <div class="button volume"></div>
    </div>
</body>
</html>